@model IEnumerable<Gigelicious.Models.Gig>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Upcoming Gigs</h2>
<ul class="gigs voffset5">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">@gig.DateTime.ToString("MMM")</div>
                <div class="day">@gig.DateTime.ToString("d ")</div>
            </div>

            <div class="details">
                <span class="artist">@gig.Venue</span>
                <span class="genre">@gig.Genre.Name</span>
                
                <div class="options">
                    <a href=@Url.Action("Update","Gigs", new {id=gig.Id})>Edit</a>|
                    <a href="#" class="js-gig-cancel" data-id-gig="@gig.Id">Cancel</a>
                </div>
            </div>
            


        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function() {
            $(".js-gig-cancel").on("click",
                function(e) {
                    var $thisAnchor = $(e.target);
                    var $gigId = $thisAnchor.attr("data-id-gig");
                    var $url = "/api/gigs/" + $gigId;
                    bootbox.confirm({
                        message: "Are you sure you want to Cancel this gig?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function(result) {

                            if (result) {
                                $.ajax({
                                    url: $url,
                                    method: "DELETE"
                                }).done(function() {

                                    $thisAnchor.parents("li").fadeOut(function() {
                                        $(this).remove();
                                    });

                                });

                            }
                        }
                    });


                });


        });


    </script>

}

